/* #= select ID ex: <div id="menu"></div>
. = select class ex: div class="card"></div>
(nada) tag/elemento HTML direto ex: <p> texto</p>

#id → Único.

.classe → Pode repetir quantas vezes quiser.

tag → Alvo é todos os elementos daquela tag.*/

* {
    box-sizing: border-box;
    margin: 0;
    /*external space*/
    padding: 0;
    /*internal space*/
    font-family: "Poppins", sans-serif;
}

.topbar {
     /* inclui search e user actions*/
     /*ocupa toda largura disponivel da .main-area. */
    height: 40px;
    border-bottom: 1px solid #e0E0E0;
    padding: 0 20px;
    /* ESPAÇAMENTO INTERNO: 0 de espaço em cima/baixo, 20 px nas laterais*/
    display: flex;
    /*transforma os filhos diretos (search e user actions) em "flex itens" 
    e os coloca em uma linha um ao lado do outro */
    align-items: center;
    /*os itens ficam alinhados no meio da topbar*/
    justify-content: space-between;
    /* coloca o search para a esquerda e
    o user actions para a direita, o espaço que sobrar fica no meio */
}

.search-container {
    flex-grow: 1;
    margin-right: 20px;
    /*cria uma margem pra certificar que não a search
    nao vai encostar no span*/
}

.topbar input[type="text"] {
    width: 46%;
    padding: 6px 8px;
    /*espaçamento interno do campo 8px em cima/baixo, 12 dos lados*/
    color: #1F384C;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-menu span {
    /* texto delicious burger" */
    /*espaço antes da seta*/
    font-size: 13px;
    color: #1F384C;
}

.user-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2vh; /* esse gap inclui a distancia entra e ellipse e  o span 
    delicious burger, ent é apenas temporario, sendo necessario manter a distancia
    maior apenas entre o notification e o conjunto de ellipse e span*/
}

.burger_ellipse {
    display: inline-flex;
    /* fica na mesma linha que os elementos ao redor dele*/
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /*serve p arredondar os cantos, nesse caso ele faz a elispe */
    flex-shrink: 0;
    /* não vai diminuir/aumentar */
    background-color: #FFE6CC;
    /* cor de fundo da ellipse*/
}

.notification{
    display: inline-flex;
}


.dashboard {
    display: flex;
    width: 100%;
}


.main-area {
    display: flex;
    width: 100%;
    flex-direction: column;
    /*empilhar a topbar e content ficam um em cima d outro */
}


.content {
    flex-grow: 1;
    /* o item vai crescer pra ocupar o espaço livre*/
    padding: 20px;
    /* espaçamento geral na área de conteudo */
}

.chart-card {
    position: relative; /* Essencial para o modo responsivo do Chart.js */
    width: clamp(120px, 15vw, 150px); /*largura com clamp, min/preferido/max*/
    aspect-ratio: 1/1; /*o card sempre vai ser quadrado(n precisa definir height*/
}

.custom-legend {
margin-top: 1px;
}