.content h1 {
    font-weight:400;
    font-size:18px;
    padding:4px;
    margin-top:3.5vh;
    margin-left:1.5vw;
}
.charts {
    padding: 24px;
}

.charts>* {
    outline: 2px dashed #f44336;
}

.top-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 5vh;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}



#doughnutChart {
    margin-left: auto;
}


.bar-chart-container {
    width: 47vw;
    height: 15vh;
}


/*
.content {}

#barChart {}
#yourRating {}

#mostOrdered {}
#barChart {
    
}

#lineChart {}*/