.content h1 {
    font-weight: 400;
    font-size: 18px;
    padding: 4px;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
}

.charts {
    padding: 24px;
}

.charts>* {
    outline: 2px dashed #f44336;
}

.top-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 5vh;
}

.card-header {
    display: flex;
    justify-content: space-between;
    /* Joga os filhos para lados opostos */
    align-items: flex-start;
    /* Alinha os itens no topo */
}

.bar-chart-container {
    width: 47vw;
    height: 15vh;
    margin-top: 3vh;
}

.revenue-title {
    font-size: 14px;
}

.revenue-info h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1vh;
}

.positive-change {
    color: #149D52;
    margin-top: 2vh;
}

.card-footer {
    display: flex;
    justify-content: left;
    /* Centraliza os itens da legenda */
    align-items: end;
    gap: 24px;
}

/* Container para cada item da legenda (bolinha + texto) */
.legend-item {
    margin-top: 1.5vh;
    display: flex;
    align-items: center;
    /* Alinha a bolinha e o texto verticalmente */
    gap: 8px;
    /* Espaço entre a bolinha e o texto */
    font-size: 12px;
    color: #6c757d;
    /* Cor do texto da legenda */
}

/* A bolinha colorida */
.legend-color-box {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* Isso transforma o quadrado em um círculo perfeito */
    display: inline-block;
}

.revenue-comparison {
    font-size: 12px;
    color: #737B8B;
}

.sales-date {
    font-size: 13px;
    font-weight: 400;
    color: #737B8B;
    margin-top: 2vh;
}

.report-button {
    background-color: #f8f9fa;
    border: 1px solid #DDE4F0;
    border-radius: 6px;
    padding: 8px 16px;
    color: #5A6ACF;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
}

.order-time {
    padding-left: 14vw;
    flex-grow: 1; 
}

.order-time-date {
    font-size: 13px;
    font-weight: 400;
    color: #737B8B;
}

.doughnut-chart-container {
  width: 121px;   
  height: 124px;  
  margin: 1vh auto; /* centraliza o gráfico e adiciona um espaço vertical */
  margin-top: 3vh;
  position: relative; 
  
}

.doughnutChart-footer {
    display: flex;
    justify-content: center;
    /* Centraliza os itens da legenda */
    align-items: center;
    gap: 24px;
}


.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


/*
.content {}

#barChart {}
#yourRating {}

#mostOrdered {}
#barChart {
    
}

#lineChart {}*/